@charset "UTF-8";
*{
	margin: 0px;
    padding: 0px;
	overflow: hidden;
}

.fl {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#mainDiv {
	height: 100vh;
	width: 100vw;
    overflow: hidden;
}

input{
	outline: none;
	padding-left: 5px;
}

#login {
	height: auto;
	width: 50vw;
	background-color: rgb(60, 78, 78);
	padding: 50px 10px;
	border-radius: 10px;
}

@media ( max-width : 640px) {
	#login {
		height: 300px;
		width: 90%;
        margin: 10px;
	}
}